.input-container {
  display: flex;
  flex-direction: column-reverse;
}

.input {
  display: block;

  border: 1px solid var(--gray-3);
  border-radius: 8px;
  width: 200px;
  height: 56px;

  padding: 18px 12px;
  transition: border .3s ease-in-out;
}

.input-label {
  display: block;
  margin-bottom: 0.25em;
  font-size: 12px;
  color: var(--gray-1);
  transition: color .3s ease-in-out;
}

.input,
.input-label {
  font-family: "Noto Sans JP", sans-serif;
}

.input::placeholder {
  font-weight: 500;
  color: var(--gray-3);
}

.input:hover,
.input.hover {
  border-color: var(--gray-1);
}

.input:focus {
  outline: none;
}

.input:focus,
.input.focus {
  border-color: var(--blue);
}

.input:focus+.input-label,
.input.focus+.input-label {
  color: var(--blue);
}

.input-container.error {
  color: var(--red);
}