.container {
  height: 100%;
  margin-inline: auto;
  max-width: 90%;
  padding-bottom: 2em;
}

h1 {
  padding-block: 1em;
}

.input-type-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2em;
}

.input-type-container {
  margin-bottom: 2em;
}

.input-type>pre {
  margin-bottom: 1em;
}