:root {
  --gray-1: #333333;
  --gray-2: #4F4F4F;
  --gray-3: #828282;
  --danger: #D32F2F;
  --blue: #2962FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: var(--gray-2);
}

pre {
  font-family: "Ubuntu Mono", monospace;
}